<main>
  <% if (locals.user) { %>
  <form action="/post"><button>Create a new post</button></form>
  <% if(!user.admin) { %>
  <div class="announcement">
    <h3>Important!</h3>
    <ul>
      <% if(!user.member) { %>
      <li>
        Consider <a href="/join">becoming a member</a> to see who wrote each
        post and when it was published.
      </li>
      <% } %>
      <li>
        <a href="/admin">Become an admin</a> to gain the ability to delete
        posts.
      </li>
    </ul>
  </div>
  <% }} else { %>
  <form action="/login"><button>Login</button></form>
  <% } %>
  <div>
    <% posts.forEach((post) => { %>
    <article class="post">
      <p>
        <b>
          By: <%= locals.user?.member || locals.user?.admin ? post.fullname :
          "***" + " ***" %>
        </b>
      </p>
      <h2><%= post.title %></h2>
      <p><%- post.content.replace(/\n/g, "<br />") %></p>
      <div class="post-info">
        <p>
          <b>
            <%= locals.user?.member || locals.user?.admin ?
            formatTime(post.timestamp) : ("(Posting time is hidden)") %>
          </b>
        </p>
        <% if(locals.user?.admin) { %>
        <form action="<%= `/${post.id}/delete` %>" method="post">
          <button>Delete</button>
        </form>
        <% } %>
      </div>
    </article>
    <% }); %>
  </div>
</main>
